<ion-view view-title="ALERT TITLE">
  <ion-content class="padding">

    <div>

        <!-- <a class="item item-thumbnail-left" href="#">
          <img src="img/fire-dept-icon.png">
          <h2>Pittsburgh Fire Department</h2>
          <p>(412) 434-7331</p>
          <p class="address">1324 Forbes Ave, Pittsburgh, PA</p>

              
        </a> -->

        <p>Brief description goes here. It should probably be restricted to only 150 characters or less. Followed by an optional image.</p>

        <div class="alert-description">
          <p>
            <i class="ion-ios-clock"></i>&nbsp 3 hours ago &nbsp &nbsp
            <i class="ion-alert-circled">&nbsp High Severity</i>

          </p>

        </div>

      
        <img src="img/vandalism.jpg" class="crime-image">

        

        
        
        



        <button class="button button-balanced"><i class="ion-ios-checkmark-outline left-icon"></i><strong>&nbsp Endorse Alert</strong></button>

        <button class="button button-assertive"><strong>&nbsp Report Innaccuracy</strong></button>
       

    </div>
    

  </ion-content>
</ion-view>