<ion-view view-title="ALERT TITLE">
  <ion-content class="padding">

    <div>

        <p>Brief description goes here. It should probably be restricted to only 150 characters or less. Followed by an optional image.</p>

        <div class="alert-description">
          <p>
            <i class="ion-ios-clock"></i>&nbsp 3 hours ago &nbsp &nbsp
            <i class="ion-alert-circled">&nbsp High Severity</i>

          </p>

        </div>

      
        <img src="img/vandalism.jpg" class="crime-image">
        <a class="button button-balanced" ng-click="endorse()"><i class="ion-ios-checkmark-outline left-icon"></i><strong>&nbsp Endorse Alert</strong></a>

        <button class="button button-assertive fraud" ng-click="report()"><strong>&nbsp Report Fraud</strong></button>
       

    </div>
    

  </ion-content>
</ion-view>