<!-- <ion-view view-title="Safety First" name="login-view">
  <ion-content class="padding">
    <form action="#/tab/map">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="fbLogin()">
          Login with Facebook
          </button>
      </label>
      </div>
    </form>
  </ion-content>
</ion-view> -->



<ion-view>
    <ion-content scroll="false">
        <section class="login-container">
            <div class = "col header text-center">
               <img src="./img/ionic.png" class = "logo" />
            </div>
            <div class = "col button-row text-center">
               <img src="./img/facebook-button.png" />
            </div>
            <div class = "col button-row text-center">
               <img src="./img/email-button.png" />
            </div>
            <div class = "col text-center">
                Already have an account? <strong><a href = "#">Sign in now!</a></strong>
            </div>            
        </section>
    </ion-content>
</ion-view>