<ion-view name="login-view">
  <ion-view hide-nav-bar="true">
    <ion-content scroll="false">
      <section class="login-container">
            
        <div class = "col header text-center login-title">
          <!-- <img src="./img/ionic.png" class = "logo" /> -->
          Safety<br> First
        </div>

        <div class="row">
          <label class="col button-row text-center">
            <button class="button fb-login" ng-click="login()">Log in</button>
          </label>
        </div>
        <div class= "col">
          <label class="col button-row text-center">
            <button class="button fb-login" ng-click="signup()">Sign Up</button>
          </label>
        </div> 
        
       <!--  <label class="col button-row text-center">
          <button class="button fb-login" ng-click="fbLogin()">
          <strong>Connect with</strong> Facebook
          </button>
        </label>  -->          
                       
      </section>
  </ion-content>
</ion-view>
</ion-view>
