<ion-view view-title="Settings">
    <ion-content>

      <div class="list">
        <a class="item item-thumbnail-left">
          <!-- <img src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270"/> -->
          <img src="img/blank-person.jpg">
        
          <h2>{{data.username}}</h2>
          <button class="button button-positive" ng-click="saveSettings()">Save</button>
          
        </a>


        <div class="item item-divider">
          Address
        </div>

        <label class="item item-input item-floating-label">
          <span class="input-label">Street</span>
          <input type="text" placeholder="Street" ng-model="data.street">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">City</span>
          <input type="text" placeholder="City" ng-model="data.city">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">State</span>
          <input type="text" placeholder="State" ng-model="data.state">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Zip</span>
          <input type="text" placeholder="Zip" ng-model="data.zip">
        </label>

        <div class="item item-divider">
          Emergency Contact
          
        </div>

        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input type="text" placeholder="First Name" ng-model="data.name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Phone</span>
          <input type="text" placeholder="Phone Number" ng-model="data.phone">
        </label>


        <div class="item item-divider">
          Notifications
          
        </div>

        <div class="item range range-positive">
          Radius&nbsp<strong>{{data.radius}}</strong>&nbspmiles
            <i class="icon ion-ios-location-outline"></i>
            <input type="range" min="0" max="50" ng-model="data.radius">
            <i class="icon ion-ios-location"></i>
        </div>


        <li class="item item-toggle">
           Assault
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="data.assault">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

        <li class="item item-toggle">
           Suspicious Activity
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="data.activity">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

        <li class="item item-toggle">
           Theft
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="data.theft">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

        

        <li class="item item-toggle">
           Vandalism
           <label class="toggle toggle-positive">
             <input type="checkbox" ng-model="data.vandalism">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>


      </div>

    </ion-content>
</ion-view>
