<ion-view view-title="Safety First">
  <ion-content>
  	<div class="list">
	  <label class="item item-input">
	    <span class="input-label">Title</span>
	    <input type="text" style="text-align: right;" placeholder="Robbery">
	  </label>

	  <label class="item item-input item-select">
	    <div class="input-label">
	      Severity
	    </div>
	    <select>
	      <option>Low</option>
	      <option selected>Medium</option>
	      <option>High</option>
	    </select>
	  </label>

	  <label class="item item-input" style="background-color: #eaeaea;">
	    <span class="input-label"><h3> Add a Description </h3></span>
	  </label>

	  <label class="item item-input">
	    <textarea placeholder="Description"></textarea>
	  </label>

	<div class="item">
		<button class="button button-block button-positive icon-left ion-camera">Take Photo</button>
	</div>
	<div class="item">
		<button class="button button-block button-positive icon-left ion-ios-upload">Upload Photo</button>
	</div>

	<div class="padding">
		<button class="button button-block button-positive">Submit</button>
	</div>

	</div>
	</ion-content>
</ion-view>