<ion-view view-title="Call for Help">
  <ion-content class="padding">

    <div>

        <a class="item item-thumbnail-left" href="#">
          <img src="img/fire-dept-icon.png">
          <h2>Pittsburgh Fire Department</h2>
          <p>(412) 434-7331</p>
          <p class="address">1324 Forbes Ave, Pittsburgh, PA</p>

              
        </a>
        <button class="button button-assertive full-screen"><i class="icon ion-ios-telephone left-icon"></i><strong>Report Incident</strong></button>
       

    </div>





    <div class="list card">
      <div class="item item-divider">Emergency Contacts</div>
      
      <ion-item>
        <div class="item-thumbnail-left contact">
            <img class="contact-image" src="img/blank-person.jpg"/>
            <h2>{{data.name}}</h2>
            <p>{{data.phone}}</p>
        </div>


      </ion-item>
      
      <div class= "contact-buttons">
        <a ng-href="tel: {{data.phone}}">
        <button class="button button-positive half-screen"><i class="icon ion-ios-telephone left-icon"></i><strong>Call</strong></button></a>

        <a href="sms:{{data.phone}} &body=Help me!"><button class="button button-positive half-screen"><i class="icon ion-android-textsms left-icon"></i><strong>Text</strong></button></a>

      </div>



    </div>


    <div class="list card">
      <div class="item item-divider">In Your Area</div>

      <div class="item item-avatar">
        <img src="img/hospital-contact.png">
        <h2>UPMC</h2>
        <p class="ion-ios-location-outline">&nbsp 0.1 mi</p>

        <div class="item-button-right">
          <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>
        </div>
      </div>

      <div class="item item-avatar">
        <img src="img/police-icon.svg">
        <h2>Carnegie Mellon Campus Police</h2>
        <p>Call to report suspicious activity</p>

        <div class="item-button-right">
          <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>
        </div>
      </div>
      
      


    </div>
  </ion-content>
</ion-view>
