<ion-view view-title="Safety First">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Emergency Contacts</div>
      
      <ion-item>
        <div class="left">
            Mom
        </div>
        <div class="item-button-right">
            <div class="buttons">
              <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>
              <button class="button button-positive"><i class="icon ion-android-textsms"></i></button>

            </div>    

        </div>

      </ion-item>

      <ion-item>
        <div class="left">
            Dad
        </div>
        <div class="item-button-right">
            <div class="buttons">
              <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>
              <button class="button button-positive"><i class="icon ion-android-textsms"></i></button>

            </div>    

        </div>

      </ion-item>
      
     <ion-item>
        <div class="left">
            My Roommate
        </div>
        <div class="item-button-right">
            <div class="buttons">
              <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>
              <button class="button button-positive"><i class="icon ion-android-textsms"></i></button>

            </div>    

        </div>

      </ion-item>


    </div>


    <div class="list card">
      <div class="item item-divider">In Your Area</div>

      <div class="item item-avatar">
        <img src="img/hospital-contact.png">
        <h2>UPMC</h2>
        <p class="ion-ios-location-outline">&nbsp 0.1 mi</p>

        <div class="item-button-right">
          <button class="button button-positive"><i class="icon ion-ios-telephone"></i></button>
        </div>
      </div>
      
      


    </div>
  </ion-content>
</ion-view>
