<ion-view view-title="Settings">
    <ion-content>

      <div class="list">
        <a class="item item-thumbnail-left">
          <!-- <img src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270"/> -->
          <img src="img/blank-person.jpg">
         
          <h2>{{user.name}}</h2>
          <button class="button button-positive">Save</button>
          <button class="button button-stable">Logout</button>


        </a>


        <div class="item item-divider">
          My Community
         
        </div>

        <label class="item item-input item-floating-label">
          <span class="input-label">Address</span>
          <input type="text" placeholder="Address">
        </label>


        <div class="item item-divider">
          Emergency Contact
          
        </div>

        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input type="text" placeholder="First Name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Phone</span>
          <input type="text" placeholder="Email">
        </label>


        <div class="item item-divider">
          Notifications
          
        </div>

        <div class="item range range-positive">
          Radius
            <i class="icon ion-ios-location-outline"></i>
            <input type="range" name="volume" min="0" max="100" value="12">
            <i class="icon ion-ios-location"></i>
        </div>


        <li class="item item-toggle">
           Assault
           <label class="toggle toggle-positive">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>


        <li class="item item-toggle">
           Community Alerts
           <label class="toggle toggle-positive">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

        <li class="item item-toggle">
           Suspicious Activity
           <label class="toggle toggle-positive">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

        <li class="item item-toggle">
           Theft
           <label class="toggle toggle-positive">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

        

        <li class="item item-toggle">
           Vandalism
           <label class="toggle toggle-positive">
             <input type="checkbox" checked="">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>

        

       


      </div>

        
    </ion-content>
</ion-view>
