<!-- <ion-view view-title="Safety First">
  <ion-content class="padding">
  	<br>
  	<br>
    <div class="list card">
      <div class="item item-divider">Settings Page</div>
      <div class="item item-body">
        <div>
          User settings go here
        </div>
      </div>
    </div>
  </ion-content>
</ion-view> -->


<ion-view view-title="Settings">
    <ion-content class="">

      <div class="list">
        <a class="item item-thumbnail-left">
          <img src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270"/>
          <h2>{{user.name}}</h2>
          <button>Logout</button>


        </a>


      </div>

      <!-- <div class="row">
        <div class="col">
          <img src="http://graph.facebook.com/{{user.id}}/picture"/>
        </div>

        <div class="col">
          {{user.name}}

        </div>

      </div> -->
        
            <!-- <div class="item">
                <h2>{{user.name}}</h2>
            </div>
            <div class="item item-body">
                <img src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270"/>
            </div> -->
        
    </ion-content>
</ion-view>
