<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Map Toggle -->
  <ion-tab title="Map" icon-off="ion-ios-location" icon-on="ion-ios-location" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Create Alert -->
  <ion-tab title="Report" icon-off="ion-alert-circled" icon-on="ion-alert-circled" href="#/tab/report">
    <ion-nav-view name="tab-report"></ion-nav-view>
  </ion-tab>

  <!-- Help Tab -->
  <ion-tab title="Help" icon-off="ion-ios-telephone" icon-on="ion-ios-telephone" href="#/tab/help">
    <ion-nav-view name="tab-help"></ion-nav-view>
  </ion-tab>

  <!-- Settings -->
  <ion-tab title="Settings" icon-off="ion-gear-a" icon-on="ion-gear-a" href="#/tab/settings">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>


</ion-tabs>
