/* Empty. Add your own CSS if you like */


/***** FONTS *****/


p, h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
}

button{
  font-family: 'Open Sans', sans-serif;
}

.icons{
  margin-top:10px;
  font-size:20px;
}

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}
@media (min-width: 370px) {
	.alertModal{
	     width: 85%; 
	     height: 50%; 
	     top: 10%; 
	     left: 5%; 
	     right: 5%; 
	     bottom: 10%;
	}
	.modal{
		min-height: 68%;
	}
}
#alertUI {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  float: left;
  margin-bottom: 22px;
  text-align: center;
  margin-left: 10px;
}

#alertText {
  color: rgb(25,25,25);
  font-family: Roboto,Arial,sans-serif;
  font-size: 15px;
  line-height: 25px;
  padding-left: 5px;
  padding-right: 5px;
}
/*Displays details side-by-side*/
.alertListDetails p{
	float:left;

}

/*Padding between the location information and time since posted for alerts in the list*/
.addSpace{
	padding-left: 15px;
}




/********* CALL FOR HELP *********/

.contact{
  margin-bottom: -2em;
}

.contact-buttons button{
  border-width: 1px;
  
}

.full-screen{
  width: 100%;
}

.half-screen{
  width:49%;

}

.left-icon{
  float:left;
}




/********* LOGIN CSS *********/

/*referenced from: http://www.joshmorony.com/creating-an-attractive-login-screen-in-ionic-with-flexbox/*/

.login-container {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    height: 100%;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efad62), color-stop(100%,#f7d47c));
    background: -webkit-linear-gradient(top, #efad62 0%,#f7d47c 100%);*/
    background-image: url("../img/crosswalk.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.login-container > .button-row img {
    max-width: 80%;
}

.login-container >form> .header {
    -webkit-flex: 4;
    padding-top: 40px;
    padding-bottom: 40px;
}

.fb-login{
  background-color: rgb(77,105,174);
  border: none;
  color:white;
  font-size: 1.5em; 
  width:80%;
  height:65px;
}

.fb-login:hover{
  background-color: #3b5998;
  color:white;
  font-size: 1.5em; 
  width:80%;
  height:65px;
}

.login-title{
    color:white;
    font-size: 5em;
    line-height: 1em;
    font-family: 'Anton', sans-serif;

  }


/********* ALERT DETAILS *********/

.alert-description{
  margin-top: 1.2em;
  font-size: .9em;
  color: #545454;
}

.crime-image{
  margin-bottom: 1.2em;
  max-width: 100%;
  max-height: 100%;
}
