/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

/*Displays details side-by-side*/
.alertListDetails p{
	
	float:left;

}

/*Padding between the location information and time since posted for alerts in the list*/
.addSpace{
	padding-left: 20px;
}